@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.strenght {
  &__container {
    border-bottom: 1px solid var(--neutral-color-30);
    padding-top: 66px;
    padding-bottom: 160px;

    @include media.mobile {
      padding-top: 26px;
      padding-bottom: 70px;
    }
  }

  &__list {
    @include flex.flex-align-center;

    @include media.tablet {
      gap: 72px;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }

    @include media.small-tablet {
      gap: 62px;
    }

    @include media.mobile {
      gap: 42px;
    }
  }

  &__item {
    @include media.tablet {
      justify-content: center;
      min-width: 325px;
    }

    @include media.mobile {
      min-width: 240px;
    }

    &:not(:last-child) {
      @include flex.flex-align-center;
      gap: 72px;
      margin-right: 72px;

      @include media.tablet {
        margin-right: 0;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 1px;
        height: 99px;
        background-color: #ced1d8;

        @include media.tablet {
          display: none;
        }
      }
    }

    &-text {
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);
    }

    &-num {
      display: block;
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 64px;
      line-height: 120%;
      color: var(--neutral-color-100);

      @include media.tablet {
        font-size: 58px;
      }

      @include media.mobile {
        font-size: 48px;
      }

      @include media.small-mobile {
        font-size: 42px;
      }
    }
  }

  &__list,
  &__img {
    margin-bottom: 80px;
  }

  &__img {
    @include media.tablet {
      margin-bottom: 60px;
    }

    @include media.mobile {
      margin-bottom: 40px;
    }
  }

  &__info {
    @include flex.flex-justify-between;

    @include media.tablet {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__title {
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    max-width: 421px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include media.tablet {
      max-width: 700px;
    }
  }
}
