@use './mixins/flex' as mixins;
@use './mixins/media';
@use './base/_index' as base;
@use './globals';

// components
@use './components/header' as *;
@use './components/home/hero' as *;
@use './components/home/overview.scss' as *;
@use './components/home/features.scss' as *;
@use './components/home/strenght.scss' as *;
@use './components/partners.scss' as *;
@use './components/home/insight.scss' as *;
@use './components/home/testimonials.scss' as *;
@use './components/footer.scss' as *;
