<section class="our-team">
  <div class="container">
    <h2 class="our-team__title heading-h2">Meet our team of creators, designers, and world-class problem solvers</h2>
    <div class="our-team__descr text-p-medium">To become the company that customers want, it takes a group of passionate people. Get to know the people who lead</div>
    <div class="swiper our-team__slider">
      <div class="our-team__slider-btns insight__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-1.jpg"
            alt="Men"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Arlyne Stefano</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-2.jpg"
            alt="Women"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Katy Cristy</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-3.jpg"
            alt="Men"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Roger Dzawin</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-1.jpg"
            alt="Men"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Arlyne Stefano</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Founder & CEO</p>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-2.jpg"
            alt="Women"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Katy Cristy</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Chief Technology Officer</p>
        </div>
        <div class="swiper-slide our-team__slide">
          <img
            src="./assets/images/our-team/our-team-slide-3.jpg"
            alt="Men"
            class="our-team__slide-author"
          />
          <div class="our-team__slide-wrapper">
            <h4 class="our-team__slide-wrapper-name text-p-large">Roger Dzawin</h4>
            <div class="our-team__slide-wrapper-socials">
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-twitter.svg"
                  alt="Twitter icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-in.svg"
                  alt="In icon"
                />
              </a>
              <a href="#">
                <img
                  src="./assets/images/our-team-links/our-team-inst.svg"
                  alt="Instagramm icon"
                />
              </a>
            </div>
          </div>
          <p class="our-team__slide-profession text-p-medium">Chief Technology Officer</p>
        </div>
      </div>
    </div>
  </div>
</section>
