@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.hero {
  padding: 95px 0 125px;

  @include media.mobile {
      padding: 75px 0 100px;
    }

  &__container {
    @include media.tablet {
      text-align: center;
    }
  }

  &__title {
    margin-bottom: 53px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include media.small-tablet {
      margin-bottom: 33px;
    }
  }

  &__descr {
    max-width: 720px;
    font-weight: 600;
    line-height: 131%;
    letter-spacing: -0.03em;
    color: var(--neutral-color-100);

    @include media.tablet {
      max-width: none;
    }

    &::before {
      transform: translateY(-40px);
    }
  }
}
