@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.blog {
  padding: 105px 0 135px;

  @include media.small-tablet {
    padding: 80px 0 100px;
  }

  @include media.mobile {
    padding: 60px 0 80px;
  }

  &__title {
    margin-bottom: 118px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include media.tablet {
        margin-bottom: 80px;
    }
    
    @include media.mobile {
        margin-bottom: 60px;
    }
  }

  &__wrapper {
    @include flex.flex-all-between;

    @include media.small-tablet {
        flex-direction: column;
        gap: 20px;
    }

    &-subtitle {
      max-width: 838px;

      &::before {
        transform: translateY(-85px);
      }
    }
  }
}
