@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.insights {
  padding-bottom: 168px;

  @include media.small-tablet {
    padding-bottom: 130px;
  }

  @include media.mobile {
    padding-bottom: 80px;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    margin-bottom: 80px;

    @include media.tablet {
      margin-bottom: 60px;
    }

    @include media.mobile {
      margin-bottom: 40px;
    }

    &-filter {
      position: relative;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: var(--neutral-color-150);
      transition: opacity var(--transition);

      &--active {
        font-weight: 600;
        color: var(--neutral-color-100);

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 2px;
          left: 2px;
          justify-content: center;
          width: 98%;
          height: 1px;
          background-color: var(--neutral-color-100);
        }
      }
    }
  }

  &__slider {
    &-btns {
      left: 40%;
      transform: translateX(-55%);

      @include media.mini-desktop {
        display: none;
      }
    }
  }

  &__slide {
    &-img {
      margin-bottom: 16px;
    }

    &-head {
      @include flex.flex-all-between;
      gap: 5px;
      flex-wrap: wrap;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);
    }

    &-date {
      margin-bottom: 24px;
      font-weight: 400;
      line-height: 150%;
      color: var(--neutral-color-150);
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      line-height: 125%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-descr {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: var(--neutral-color-150);
    }
  }
}
