@use '../mixins/index' as mixins;
@include mixins.font-face(Inter, 'InterRegular', 400);
@include mixins.font-face(Inter, 'InterMedium', 500);
@include mixins.font-face(Inter, 'InterSemiBold', 600);
@include mixins.font-face(Inter, 'InterBold', 700);

