<section class="articles">
  <div class="container articles__container">
    <div class="articles__wrapper">
      <div class="articles__wrapper-head">
        <h2 class="articles__wrapper-head-title heading-h2">Articles</h2>
        <p class="articles__wrapper-head-descr text-p-medium">
          Complex tech decoded by engineers, business trends analyzed by
          experts.
        </p>
      </div>
      <div class="articles__wrapper-btns">
        <button
          class="testimonials__btn articles__wrapper-btn testimonials__btn--prev"
        >
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
        <button
          class="testimonials__btn articles__wrapper-btn testimonials__btn--next"
        >
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M6.9363 12.3365C6.58483 12.688 6.01498 12.688 5.66351 12.3365L0.263506 6.93649C-0.0879668 6.58502 -0.0879667 6.01517 0.263506 5.6637L5.66351 0.2637C6.01498 -0.0877719 6.58483 -0.0877718 6.9363 0.263701C7.28777 0.615172 7.28777 1.18502 6.9363 1.53649L3.07269 5.4001L13.4999 5.4001C13.997 5.4001 14.3999 5.80304 14.3999 6.3001C14.3999 6.79715 13.997 7.2001 13.4999 7.2001L3.07269 7.2001L6.9363 11.0637C7.28777 11.4152 7.28777 11.985 6.9363 12.3365Z"
              fill="#CED1D8"
            />
          </svg>
        </button>
      </div>
    </div>
    <div class="swiper articles__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide articles__slide" style="width: 405px; margin-right: 5px;">
          <img
            src="./assets/images/articles/articles-img-1.jpg"
            width="405"
            height="577"
            loading="lazy"
            alt="a man and a woman looking at a laptop"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">List of UX Designer Portfolio / Case Studies where you can make money</h4>
          <p class="articles__slide-descr text-p-medium">Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            src="./assets/images/articles/articles-img-2.jpg"
            width="476"
            height="695"
            loading="lazy"
            alt="Conference"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">Elements that may be missed when designing the UI</h4>
          <p class="articles__slide-descr text-p-medium">This is an article that talks about the little elements that are often overlooked when designing UI.</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            src="./assets/images/articles/articles-img-3.jpg"
            width="406"
            height="329"
            loading="lazy"
            alt="A woman and a man high-five each other"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">Skyrocketing in The Designing Career, Why Not?</h4>
          <p class="articles__slide-descr text-p-medium">Ever thought of jumping into the world of design as a career? If not, you may want to look at what the word ‘design’ actually means. Design is a method of designing aesthetic actions that are carried out.</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            src="./assets/images/articles/articles-img-1.jpg"
            width="405"
            height="577"
            loading="lazy"
            alt="a man and a woman looking at a laptop"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">List of UX Designer Portfolio / Case Studies where you can make money</h4>
          <p class="articles__slide-descr text-p-medium">Here are some portfolios / Case Studies from UX Designers that you can use as a reference for creating a portfolio. Two interesting things from their portfolio are:</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            src="./assets/images/articles/articles-img-2.jpg"
            width="476"
            height="695"
            loading="lazy"
            alt="Conference"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">Elements that may be missed when designing the UI</h4>
          <p class="articles__slide-descr text-p-medium">This is an article that talks about the little elements that are often overlooked when designing UI.</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
        <div class="swiper-slide articles__slide">
          <img
            src="./assets/images/articles/articles-img-3.jpg"
            width="486"
            height="329"
            loading="lazy"
            alt="A woman and a man high-five each other"
            class="articles__slide-img"
          />
          <h4 class="articles__slide-title heading-h5">Skyrocketing in The Designing Career, Why Not?</h4>
          <p class="articles__slide-descr text-p-medium">Ever thought of jumping into the world of design as a career? If not, you may want to look at what the word ‘design’ actually means. Design is a method of designing aesthetic actions that are carried out.</p>
          <button class="articles__slide-btn text-p-default">Read More</button>
        </div>
      </div>
    </div>
  </div>
</section>
