<section class="believe">
  <div class="container believe__container">
    <div class="swiper believe__slider">
      <div class="believe__slider-btns insight__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-1.jpg"
            width="502"
            height="629"
            alt=""
            class="believe__slide-img"
          />
        </div>
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-2.jpg"
            width="502"
            height="370"
            alt=""
            class="believe__slide-img believe__slide-img--otstup"
          />
          <div class="believe__slide-head">
            <h4 class="believe__slide-head-title heading-h5">What we believe in</h4>
            <p class="believe__slide-head-descr text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="believe__slide-head-btn">See Details -></button>
          </div>
        </div>
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-3.jpg"
            width="506"
            height="460"
            alt=""
            class="believe__slide-img"
          />
        </div>
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-1.jpg"
            width="502"
            height="629"
            alt=""
            class="believe__slide-img"
          />
        </div>
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-2.jpg"
            width="502"
            height="370"
            alt=""
            class="believe__slide-img believe__slide-img--otstup"
          />
          <div class="believe__slide-head">
            <h4 class="believe__slide-head-title heading-h5">What we believe in</h4>
            <p class="believe__slide-head-descr text-p-medium">
              Over the years at Sans, we’ve put a lot of thought into what it is
              that makes us who we are. The qualities that unite us, that make
              us such an effective team, and...
            </p>
            <button class="believe__slide-head-btn">See Details -></button>
          </div>
        </div>
        <div class="swiper-slide believe__slide">
          <img
            src="./assets/images/believe/blog-believe-slider-3.jpg"
            width="506"
            height="460"
            alt=""
            class="believe__slide-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
