<section class="blog">
  <div class="container blog__container">
    
      <h2 class="blog__title heading-h1">
        Everything you need to get the attention of your audience
      </h2>
<div class="blog__wrapper">

  <p class="blog__wrapper-subtitle text-p-subtitle">
    Our digital agency helps clients develop, implement and maintain
    successful digital marketing strategies across all channels. Also work
    with you to build your website and create online businesses that grow.
  </p>
  <img src="./assets/icons/blog-hero-link.svg" width="162" height="162" loading="lazy" alt="Круговой текст с ссылкой" class="block__wrapper-img">
</div>
    
  </div>
</section>
