<section class="insights">
  <div class="container insights__container">
    <div class="insights__wrapper">
      <button type="button" class="insights__wrapper-filter text-p-default insightss__wrapper-filter--active" data-filter="all">View all</button>
      <button type="button" class="insights__wrapper-filter text-p-default" data-filter="design">Design</button>
      <button type="button" class="insights__wrapper-filter text-p-default" data-filter="articles">Articles</button>
      <button type="button" class="insights__wrapper-filter text-p-default" data-filter="product">Product</button>
      <button type="button" class="insights__wrapper-filter text-p-default" data-filter="software">Software Development</button>
      <button type="button" class="insights__wrapper-filter text-p-default" data-filter="customer">Customer Success</button>
    </div>
    <div class="swiper insights__slider">
      <div class="insights__slider-btns insight__slider-btns">
        <svg
          width="27"
          height="17"
          viewBox="0 0 27 17"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.1666 1.5L24.8333 8.16667L18.1666 14.8333M8.16658 14.8333L1.49992 8.16667L8.16658 1.5"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide insights__slide" data-category="design">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-1.jpg"
            alt="A woman drinks tea at her computer"
          />
          <span class="insights__slide-date text-p-small"
            >Published in Insight Jan 30, 2021</span
          >
          <h3 class="insights__slide-title heading-h5">Practice making User Flow</h3>
          <p class="insights__slide-descr">
            In this insights, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide insights__slide" data-category="articles">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-2.jpg"
            alt="Two girls scrolling the page"
          />
          <div class="insights__slide-head">
            <span class="insights__slide-head-date text-p-small"
              >Published in Insight Jan 30, 2021</span>
            <span class="insights__slide-head-by">by : Albert Sans</span>
          </div>
          <h3 class="insights__slide-title heading-h5">Overview of the Design Principles</h3>
          <p class="insights__slide-descr">
            What are Design Principles?… To understand design principles, we first discuss the principles. 
          </p>
        </div>
        <div class="swiper-slide insights__slide" data-category="product">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-3.jpg"
            alt="A woman and a man high-five each other"
          />
          <span class="insights__slide-date text-p-small"
            >Published in Insight Jan 30, 2021</span
          >
          <h3 class="insights__slide-title heading-h5">Using Grid in website design</h3>
          <p class="insights__slide-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide insights__slide" data-category="product">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-1.jpg"
            alt="A woman drinks tea at her computer"
          />
          <span class="insights__slide-date text-p-small"
            >Published in Insight Jan 30, 2021</span
          >
          <h3 class="insights__slide-title heading-h5">Practice making User Flow</h3>
          <p class="insights__slide-descr">
            In this insights, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide insights__slide" data-category="software">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-2.jpg"
            alt="Two girls scrolling the page"
          />
          <div class="insights__slide-head">
            <span class="insights__slide-head-date text-p-small"
              >Published in Insight Jan 30, 2021</span>
            <span class="insights__slide-head-by">by : Albert Sans</span>
          </div>
          <h3 class="insights__slide-title heading-h5">Overview of the Design Principles</h3>
          <p class="insights__slide-descr">
            What are Design Principles?… To understand design principles, we first discuss the principles. 
          </p>
        </div>
        <div class="swiper-slide insights__slide" data-category="customer">
          <img
            class="insights__slide-img"
            width="515px"
            height="428"
            loading="lazy"
            src="./assets/images/insights-slider/insights-slider-img-3.jpg"
            alt="A woman and a man high-five each other"
          />
          <span class="insights__slide-date text-p-small"
            >Published in Insight Jan 30, 2021</span
          >
          <h3 class="insights__slide-title heading-h5">Using Grid in website design</h3>
          <p class="insights__slide-descr">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
