<section class="projects">
  <div class="container projects__container">
    <a href="/coco/single-post.html" class="projects__card">
      <img
        src="./assets/images/projects/projects-img-1.jpg"
        width="584"
        height="751"
        loading="lazy"
        alt="There is a tablet on the table"
        class="projects__card-img"
      />
      <h4 class="projects__card-title heading-h3">How we perform long-running tasks using AWS services</h4>
      <p class="projects__card-descr text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
    </a>
    <div class="projects__card">
      <img
        src="./assets/images/projects/projects-img-2.jpg"
        width="584"
        height="507"
        loading="lazy"
        alt="The men are sitting at a table in the office and discussing something."
        class="projects__card-img"
      />
      <h4 class="projects__card-title heading-h3">How to ask when doing User Research</h4>
      <p class="projects__card-descr text-p-medium">Bro, the story is that you want to make an application for buying and selling goods on the market. During user research, what do you think you will ask people?</p>
    </div>
    <div class="projects__card projects__card--transform2">
      <img
        src="./assets/images/projects/projects-img-3.jpg"
        width="584"
        height="507"
        loading="lazy"
        alt="general discussion of business via video call"
        class="projects__card-img"
      />
      <h4 class="projects__card-title heading-h3">Layout Exploration — Simple exercise but big effect</h4>
      <p class="projects__card-descr text-p-medium">Make alternatives or other options for the design we are making.
For example, we are creating a website design. Then there is the testimonial section.</p>
    </div>
    <div class="projects__card projects__card--transform1">
      <img
        src="./assets/images/projects/projects-img-4.jpg"
        width="584"
        height="507"
        loading="lazy"
        alt="Conference"
        class="projects__card-img"
      />
      <h4 class="projects__card-title heading-h3">Webflow Break the Coding Barrier</h4>
      <p class="projects__card-descr text-p-medium">Webflow is web design tool as well as a hosting platform and CMS all in one. While you are probably familiar with all of these, they are usually entirely separate tools.</p>
    </div>
  </div>
</section>
