<section class="partners">
  <div class="container partners__container">
    <h2 class="partners__title text-p-medium">
      <span class="partners__title-num heading-h2 ">890+</span>
      some big companies that we work with, and trust us very much
    </h2>
    <ul class="partners__list">
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/airbnb-icon.svg"
          width="97"
          height="30"
          alt="Airbnb Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/amazon-icon.svg"
          width="97"
          height="30"
          alt="Amazon Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="../../assets/icons/partners/fedfex-icon.svg"
          width="96"
          height="30"
          alt="FedEx Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/microsoft-icon.svg"
          width="116"
          height="26"
          alt="Microsoft Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/google-icon.svg"
          width="91"
          height="30"
          alt="Google Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/olv-icon.svg"
          width="94"
          height="32"
          alt="OLA Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/walmart-icon.svg"
          width="114"
          height="28"
          alt="Walmart Logo"
        />
      </li>
      <li class="partners__item">
        <img
          loading="lazy"
          src="./assets/icons/partners/oyo-icon.svg"
          width="80"
          height="28"
          alt="OYO Logo"
        />
      </li>
    </ul>
  </div>
</section>
