@use '../mixins/media' as media;
@use '../mixins/flex' as flex;

.hero-decor {
    position: relative;

    &::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 400px;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 50%;
    width: 551px;
    height: 551px;
    background: #fa7515;
    opacity: 0.2;
    filter: blur(220px);

    @include media.mini-desktop {
      left: 80px;
      width: 351px;
      height: 351px;
    }

    @include media.small-tablet {
      top: 20px;
      left: 50px;
      width: 251px;
      height: 251px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    right: 70px;
    bottom: 150px;
    z-index: var(--z-index-0);
    display: inline-block;
    border-radius: 100%;
    width: 525px;
    height: 252px;
    background: var(--success-color-70);
    filter: blur(180px);

    @include media.mini-desktop {
      width: 325px;
      height: 325px;
    }

    @include media.small-tablet {
      width: 225px;
      height: 225px;
    }
  }
}