@use '../../mixins/media' as media;

.hero {
  padding: 80px 42px;

  @include media.mobile {
    padding: 40px 22px;
  }

  &__title {
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }
}
