@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.initial {
  padding-bottom: 160px;

  @include media.tablet {
    padding-bottom: 100px;
  }

  @include media.mobile {
    padding-bottom: 60px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 40px;
    color: var(--neutral-color-100);
  }

  &__descr {
    margin-bottom: 56px;
    font-weight: 400;
    line-height: 178%;
    color: var(--neutral-color-100);
  }

  &__wrapper {
    display: flex;
    gap: 48px;

    @include media.tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    @include media.small-tablet {
        gap: 28px;
    }

    &-img {
      height: 200px;
    }

    &-info {
      &-socials {
        display: flex;
        gap: 24px;
        align-items: center;
        margin-bottom: 14px;

        @include media.tablet {
          justify-content: center;
        }

        &-share {
          font-weight: 500;
          line-height: 163%;
          color: var(--neutral-color-100);

          @include media.tablet {
            display: none;
          }
        }
      }

      &-by {
        margin-bottom: 16px;
        font-weight: 400;
        line-height: 150%;
        color: var(--neutral-color-150);
      }

      &-name {
        margin-bottom: 16px;
        font-weight: 600;
        line-height: 131%;
        letter-spacing: -0.03em;
        color: var(--neutral-color-100);
      }

      &-profession {
        font-weight: 500;
        line-height: 163%;
        color: var(--neutral-color-150);
      }

      &-descr {
        margin-top: 16px;
        font-weight: 400;
        line-height: 178%;
        color: var(--neutral-color-100);
      }
    }
  }
}
