@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.hero {
  padding: 90px 0 38px;

  @include media.mobile {
        padding: 30px 0 12px;
    }

  &__title {
    margin-bottom: 100px;
    max-width: 741px;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include media.tablet {
        margin-bottom: 60px;
    }

    @include media.mobile {
        margin-bottom: 30px;
    }
  }

  &__map {
    @include flex.flex-all-between;
    gap: 86px;

    @include media.tablet {
      flex-direction: column;
    }

    @include media.mobile {
        gap: 36px;
    }
  }

  &__contacts {
    max-width: 176px;

    @include media.tablet {
      @include flex.flex-all-center;
      gap: 40px;
      max-width: 100%;

      
    }

    @include media.small-tablet {
        flex-direction: column;
        text-align: center;
    }

    @include media.mobile {
        gap: 20px;
    }

    &-item {
      border-bottom: 1px solid var(--neutral-color-150);
      padding-bottom: 14px;

      @include media.small-tablet {
        width: 100%;
    }

      &:not(:last-child) {
        margin-bottom: 40px;

        @include media.tablet {
          margin-bottom: 0;
        }
      }

      &-title {
        font-weight: 700;
        line-height: 133%;
        color: var(--neutral-color-100);
      }

      &-descr {
        margin-bottom: 20px;
        font-weight: 400;
        line-height: 150%;
        color: var(--neutral-color-150);
      }

      &-link {
        font-weight: 500;
        line-height: 163%;
        color: var(--neutral-color-100);
      }
    }
  }
}
