@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.overview {
  padding: 100px;
  background-color: var(--overview-bg-color);

  @include mixins.tablet {
    text-align: center;
  }

  @include mixins.mobile {
    padding: 60px 0;
  }

  &__title {
    margin-bottom: 24px;
    max-width: 816px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: #fff;
  }

  &__desrc {
    margin-bottom: 80px;
    max-width: 660px;
    font-weight: 500;
    line-height: 150%;
    color: var(--neutral-color-150);

    @include mixins.tablet {
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
    }

    @include mixins.small-mobile {
      margin-bottom: 50px;
    }
  }

  &__list {
    @include mixins.flex-all-between;
    gap: 56px;
    flex-wrap: wrap;

    @include mixins.tablet {
      gap: 40px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 453px;

    &-icon {
      margin-bottom: 24px;

      @include mixins.tablet {
        margin-bottom: 18px;
      }
    }

    &-title {
      margin-bottom: 24px;
      max-width: 262px;
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -0.03em;
      color: #fff;

      @include mixins.tablet {
        margin-right: auto;
        margin-bottom: 18px;
        margin-left: auto;
      }

      @include mixins.mobile {
        max-width: 320px;
      }
    }

    &-descr {
      font-weight: 500;
      line-height: 163%;
      color: var(--neutral-color-150);
    }
  }
}
