@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex.scss' as flex;

.faq {
  padding: 82px 0 160px;
  text-align: center;

  @include media.mobile {
    padding: 42px 0 80px;
  }

  &__container {
    max-width: 1114px;
  }

  &__title {
    margin-bottom: 24px;
    font-weight: 600;
    line-height: 120%;
    color: var(--neutral-color-100);

    @include media.mobile {
        margin-bottom: 18px;
    }
  }

  &__descr {
    margin-bottom: 80px;
    font-weight: 500;
    line-height: 178%;
    color: var(--neutral-color-150);

    @include media.mobile {
        margin-bottom: 50px;
    }
  }

  &__accordion {
    border-bottom: 1px solid var(--neutral-color-30);
    padding-bottom: 32px;
    text-align: left;

    @include media.mobile {
        padding-bottom: 12px;
    }

    &:not(:last-child) {
      margin-bottom: 56px;

      @include media.mobile {
        margin-bottom: 36px;
    }
    }

    &-control {
      @include flex.flex-all-between;
      gap: 15px;
      list-style: none;
      margin-bottom: 16px;
      cursor: pointer;

      &::-webkit-detalis-marker {
        display: none;
      }
    }

    &-title {
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-100);
    }

    &-icon {
      position: relative;
      width: 24px;
      height: 24px;


      &::after {
        transform: rotate(90deg);
      }

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: inline-block;
        border-radius: 6px;
        width: 18px;
        height: 3px;
        background-color: var(--neutral-color-100);
      }
    }

    &[open] &-icon::after {
      display: none;
    }

    &-text {
      margin-top: 16px;
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);

      @include media.mobile {
        margin-top: 10px;
    }
    }
  }
}
