@use '../../mixins/index' as mixins;
@use '../../mixins/media' as media;
@use '../../mixins/flex' as flex;

.powerful {
  padding-bottom: 160px;

  @include media.small-tablet {
    padding-bottom: 100px;
  }

  @include media.mobile {
    padding-bottom: 80px;
  }

  &__container {
    @include flex.flex-all-between;
    gap: 20px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding: 80px 0;

    @include media.mini-desktop {
      flex-direction: column;
      text-align: center;
    }

    @include media.mobile {
      padding: 60px 0;
    }
  }

  &__title {
    max-width: 480px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);
  }

  &__descr {
    max-width: 522px;
    font-weight: 600;
    line-height: 150%;
    color: var(--neutral-color-100);
  }
}
