@use './mixins/flex' as mixins;
@use './mixins/media';
@use './base/_index' as base;
@use './globals';

// components
@use './components/header' as *;
@use './components/blog/hero.scss' as *;
@use './components/blog/believe.scss' as *;
@use './components/footer.scss' as *;