@use './mixins/flex' as mixins;
@use './mixins/media';
@use './base/_index' as base;
@use './globals';

// components
@use './components/header' as *;
@use './components/pricing/hero.scss' as *;
@use './components/pricing/faq.scss' as *;
@use './components/footer.scss' as *;