@use './mixins/flex' as mixins;
@use './mixins/media';
@use './base/_index' as base;
@use './globals';

// components
@use './components/header' as *;
@use './components/single-post/hero.scss' as *;
@use './components/single-post/blog.scss' as *;
@use './components/single-post/initial.scss' as *;
@use './components/footer.scss' as *;