<section class="blog">
  <div class="container container--medium">
    <div class="blog__wrapper">
      <div class="blog__wrapper-author">
        <img
          src="./assets/images/comment-author-1.jpg"
          loading="lazy"
          alt="Renee Wells"
          width="56"
          height="56"
          class="blog__wrapper-author-img"
        />
        <div class="blog__wrapper-author-info">
          <h5 class="blog__wrapper-author-info-name">Renee Wells</h5>
          <p class="blog__wrapper-author-info-profession">
            Product Designer, Quotient
          </p>
        </div>
        <p class="blog__wrapper-date">10 min read November 10, 2023</p>
      </div>
    </div>

  </div>
</section>
