@use '../mixins/media' as media;
@use '../mixins/index' as mixins;
@use '../mixins/flex' as flex;

.button {
  &-form {
    border-radius: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transition: opacity var(--transition);

    @include media.mobile {
      font-size: 14px;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

.insight {
  &__slider {
    position: relative;

    &-btns {
      @include flex.flex-all-center;
      position: absolute;
      top: 126px;
      left: 50%;
      z-index: var(--z-index-2);
      border-radius: 50%;
      width: 80px;
      height: 80px;
      background-color: #fff;
      transform: translateX(-50%);

      @include media.tablet {
        display: none;
      }

      @include media.small-mobile {
        top: 80px;
        left: 95%;
        display: flex;
        width: 50px;
        height: 50px;
      }
    }
  }
}